<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
                <div class="form">
                    <form action="/account/register" method="post" class="wf1">
                        <legend>ALL FIELDS ARE REQUIRED</legend>
                        <fieldset>
                            <label>First Name: <input type="text" name="account_firstname" id="userName"
                                    autocomplete="Fname" title="Please enter your First Name" required
                                    value="<%= locals.account_firstname %>"></label>
                            <label>Last Name: <input type="text" name="account_lastname" id="userLastName"
                                    autocomplete="Lname" title="Please enter your Last Name" required
                                    value="<%= locals.account_lastname %>"></label>
                            <label>Email: <input type="email" name="account_email" id="userEmail" autocomplete="email"
                                    title="Please enter a valid email address" required
                                    value="<%= locals.account_email %>"></label>
                            <label for="password">Password: <input type="password" id="password" name="account_password"
                                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                                    required></label>
                            <label>Password must be minimun of 12 characters and incluide 1 capital letter,
                                1 number
                                and 1 special character</label>
                            <div>
                                <!-- Password button -->
                                <button type="button" id="togglePassword">Show Password</button>
                                <button id="submit" type="submit">Login</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <script>
                    const pswdBtn = document.getElementById('togglePassword');
                    const passwordField = document.getElementById('password');

                    pswdBtn.addEventListener('click', function () {
                        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                        passwordField.setAttribute('type', type);
                        pswdBtn.textContent = type === 'password' ? 'Show Password' : 'Hide Password';
                    });
                </script>